body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
}

header {
  background-color: transparent;
  color: #fff;
  text-align: center;
  position: relative;
}

header h1 {
  font-size: 36px;
  margin: 20px 0;
}

h2 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 42px;
}

p {
  font-family: "Lato", sans-serif;
}

.image-header {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.image-header #band-header-image {
  width: 107%;
  height: 50vh;
  display: block;
  object-fit: cover;
  object-position: center 36%;
}

.band-logo {
  position: absolute;
  top: 50px;
  max-height: 80px;
  transform: translateX(-50%);
  transition: 0.15s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.nav-menu.active {
  left: 0;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
}

nav.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
}

nav ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  text-transform: uppercase;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Crimson Text", serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
}

section {
  padding: 20px;
  background-color: #000000;
  margin: 20px;
  border-radius: 5px;
  position: relative;
  z-index: 0;
  display: grid;
  max-width: 700px;
  text-align: center;
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #000000;
  color: #fff;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 28px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
  }


  .nav-menu {
    position: fixed;
    top: 0;
    left: -110%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    height: 100vh;
    transition: left 0.3s;
    background-color: black
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu a {
    padding: 50px 0;
    line-height: 3;
    color: #fff;
    text-decoration: none;
  }

  .band-logo {
    top: 20px;
    transition: 0.15s ease;
  }

  nav ul li a {
    font-size: 36px;
  }
}
